@charset 'utf-8';
body{
	line-height: 1;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 3.59vw;
	color: #666;
	letter-spacing: -.025em;
}
a{
	display: block;
}
img{
	vertical-align: bottom;
}
/* ====================
	common
==================== */
.pcView{
	display: none;
}
.bigSection{
	padding: 5% 0;
}
.bigSection .secondSection{
	margin-bottom: 7%;
}
.bigSection .secondSection:last-of-type{
	margin-bottom: 0;
}
.contentsWrap{
	width: 94%;
	margin: 0 auto;
}
.mainHeading{
	margin-bottom: 5%;
}
.underLine{
	position: relative;
	z-index: 3;
}
.underLine:after{
	content: '';
	width: 100%;
	height: .75em;
	position: absolute;
	bottom: -.25em;
	left: 0;
	z-index: -1;
	background-color: rgba(212, 252, 121, .5);
	transform: skew(-15deg);
}
.moreViewBtn{
	width: 75%;
	margin: 0 auto;
}
.moreViewBtn a{
	padding: 3%;
	border-radius: 100vh;
	background-color: #f0e841;
	font-size: 215%;
	font-weight: 700;
	text-align: center;
}
.itemFlexBox{
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
}
.itemFlexBox .exampleImg,
.itemFlexBox .rightBox{
	width: 48.5%;
}
.itemFlexBox .rightBox .moreViewBtn{
	width: 100%;
}
.itemFlexBox .rightBox .moreViewBtn a{
	padding: 5% 0;
	background-color: #c34c66;
	font-size: 143%;
	color: #fff;
}
.wave1{
	width: 100%;
	height: 5vw;
	background: url(../img/bg_wave_01.webp) no-repeat top center / 100% auto;
	transform: scale(1, -1);
}
.wave2{
	width: 100%;
	height: 17.5vw;
	background: url(../img/bg_wave_02.webp) no-repeat top center / 100% auto;
	transform: scale(-1, -1);
}
.reverse{
	transform: scale(1, 1);
}
/* ====================
	header
==================== */
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
header .contentsWrap{
	padding: 3% 0;
	display: flex;
	justify-content: space-between;
}
header .logoImg{
	width: 25%;
}
header .contactBtn{
	width: 25%;
	display: flex;
	justify-content: space-between;
}
header .contactBtn .contactBtnParts{
	width: 45%;
}
/* ====================
	topView
==================== */
#topView .topFadeSlider{
	padding: 5% 0;
	position: relative;
	background-color: #3db8c4;
}
#topView .topFadeSlider:before,
#topView .topFadeSlider:after{
	content: '';
	width: 100%;
	height: 5vw;
	position: absolute;
	z-index: 1;
	background: url(../img/bg_wave_01.webp) no-repeat top center / 100% auto;
}
#topView .topFadeSlider:before{
	top: 5%;
	transform: scale(1, -1);
}
#topView .topFadeSlider:after{
    bottom: 5%;
}
/* ====================
	threePoints
==================== */
#threePoints{
	background-color: #3db8c4;
}
#threePoints .pointHeading{
	margin-bottom: 3%;
}
#threePoints .pointHeading .imgBox{
	width: 20%;
	margin: 0 auto 3%;
}
#threePoints .pointHeading .headingText{
	line-height: 1.5;
	font-size: 128%;
	font-weight: 700;
	color: #fff;
	text-align: center;
}
#threePoints .pointDescription{
	margin-bottom: 5%;
	line-height: 1.5;
	color: #fff;
	text-align: justify;
}
#threePoints .sixServiceWrap{
	margin-bottom: 7%;
}
#threePoints .sixServiceWrap .sixServiceWrapHeading{
	width: 85%;
	margin: 0 auto 5%;
}
#threePoints .sixServiceWrap .sixServiceList{
	margin-bottom: 5%;
}
#threePoints .point2List li:first-of-type{
	margin-bottom: 5%;
}
#threePoints .point3Img{
	width: 55%;
	margin: 0 auto;
}
/* ====================
	threePromises
==================== */
#threePromises{
	background-color: #3db8c4;
}
#threePromises .promiseHeading{
	margin-bottom: 5%;
}
#threePromises .promiseHeading .imgBox{
	width: 20%;
	margin: 0 auto;
}
#threePromises .promiseHeading .headingText{
	line-height: 1.5;
	font-size: 143%;
	font-weight: 700;
	color: #fff;
	text-align: center;
}
#threePromises .promiseImg{
	margin-bottom: 3%;
}
#threePromises .pointDescription{
	line-height: 1.5;
	color: #fff;
	text-align: justify;
}
/* ====================
	printMethod
==================== */
#printMethod .printMethodHeading{
	width: 90%;
	margin: 0 auto 7%;
}
#printMethod .printHeading{
	margin-bottom: 3%;
	padding-bottom: 15%;
	background: url(../img/bg_printMethodSecondHeading.webp) no-repeat center bottom / 100% auto;
	line-height: 1.25;
	font-size: 170%;
	font-weight: 700;
	text-align: center;
}
#printMethod .printHeading.long{
	padding-bottom: 10%;
}
#printMethod .itemFlexBox .rightBox{
	position: relative;
}
#printMethod .itemFlexBox .rightBox .moreViewBtn{
	position: absolute;
	bottom: 0;
}
#printMethod .printDescription .printDescriptionHeading{
	margin-bottom: 3%;
	display: flex;
	align-items: center;
	font-size: 170%;
	font-weight: 700;
}
#printMethod .printDescription .printDescriptionHeading:after{
	content: '';
	width: 1em;
	height: 1em;
	margin-right: .5em;
	display: block;
	background: url(../img/bg_kira.webp) no-repeat center / auto 100%;
}
#printMethod .printDescription .printDescriptionText{
	line-height: 1.5;
}
/* ====================
	byScene
==================== */
#byScene{
	padding: 5% 0 10%;
	background-color: #3db8c4;
	color: #fff;
}
#byScene .bySceneHeading{
	width: 93.5%;
	margin: 0 auto 7%;
}
#byScene .sceneHeading{
	margin-bottom: 7%;
	padding: 3% 0;
	background: url(../img/bg_bySceneSecondHeading.webp) no-repeat center / 75% auto;
	line-height: 1.25;
	font-size: 170%;
	font-weight: 900;
	text-align: center;
	color: #333;
	-webkit-text-stroke: .25vw #fff;
}
#byScene .itemFlexBox{
	align-items: center;
}
#byScene .itemFlexBox .rightBox .itemName{
	margin-bottom: 5%;
	line-height: 1.5;
	font-size: 143%;
	font-weight: 700;
}
#byScene .itemFlexBox .rightBox .moreViewBtn{
	line-height: 1.25;
}
#byScene .sceneDescription{
	margin-bottom: 5%;
	line-height: 1.5;
}
#byScene .planHeading{
	margin-bottom: 7%;
}
#byScene .planHeading .imgBox{
	width: 32.5%;
	margin: 0 auto;
}
#byScene .planHeading .headingText{
	line-height: 1.25;
	font-size: 170%;
	font-weight: 700;
	text-align: center;
}
#byScene .planHeading .headingText span{
	position: relative;
}
#byScene .planHeading .headingText span:after{
	content: '・・・・';
	position: absolute;
	left: 0;
	bottom: -.75em;
	color: #c34c66;
}
#byScene .planHeadingUnder{
	margin-bottom: 5%;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
}
#byScene .planList li{
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#byScene .planList li:last-of-type{
	margin-bottom: 0;
}
#byScene .planList .planListHeading{
	width: 30%;
	line-height: 1.75;
	text-align: center;
}
#byScene .planList .planListHeading .underLine{
	font-size: 143%;
	font-weight: 700;
}
#byScene .planList .planListImg{
	width: 68%;
}
#byScene .concierge{
	margin-top: 7%;
}
/* ====================
	designTemplates
==================== */
#designTemplates{
	padding: 0 0 10%;
}
#designTemplates .designTemplatesHeading{
	width: 90%;
	margin: -15% auto 7%;
	position: relative;
	z-index: 3;
}
#designTemplates .designTemplatesImg{
	margin-bottom: 5%;
}
#designTemplates .moreViewBtn{
	margin-bottom: 5%;
}
#designTemplates .designTemplatesAccent{
	width: 78%;
	margin: 0 auto 5%;
}
#designTemplates .examplesHeading{
	width: 38%;
	margin: 0 auto 3%;
}
/* ====================
	footer
==================== */
footer{
	padding-top: 10%;
	background-color: #3db8c4;
	color: #fff;
}
footer .lineImg{
	margin-bottom: 5%;
}
footer .shopInfo .footerLogo{
	width: 30%;
	margin: 0 auto 5%;
}
footer .shopInfo .shopInfoList{
	margin-bottom: 10%;
}
footer .shopInfo .shopInfoList li{
	margin-bottom: 5%;
}
footer .shopInfo .shopInfoList li:last-of-type{
	margin-bottom: 0;
}
footer .shopInfo .shopInfoList li a,
footer .shopInfo .shopInfoList li.noLink{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .shopInfo .shopInfoList .icon{
	width: 1em;
	height: 1em;
	margin-right: .5em;
}
footer .shopInfo .shopInfoList .text{
	font-size: 143%;
	font-weight: 700;
}
footer .navDl{
	margin-bottom: 10%;
	font-size: 143%;
	font-weight: 700;
}
footer .navDl dt{
	padding: 3% 0 3% 1em;
	border-bottom: .5vw solid #d4fc79;
}
footer .navDl dt:first-of-type{
	border-top: .5vw solid #d4fc79;
}
footer .navDl dd{
	display: none;
	border-bottom: .5vw solid #d4fc79;
	padding-left: 2em;
}
footer .navDl .navDlList{
	margin: 5% auto;
}
footer .navDl .navDlList li{
	margin-bottom: 5%;
}
footer .navDl .navDlList li:last-of-type{
	margin-bottom: 0;
}
footer .otherLinks .contactBtn,
footer .otherLinks .lineBtn{
	margin: 0 auto 5%;
}
footer .otherLinks .contactBtn a,
footer .otherLinks .lineBtn a{
	padding: 5% 0;
	position: relative;
	border-radius: 100vh;
	font-size: 143%;
	font-weight: 700;
	text-align: center;
}
footer .otherLinks .contactBtn a{
	background-color: #fff;
	color: #c34c66;
}
footer .otherLinks .lineBtn a{
	background: linear-gradient(90deg, #43e97b, #38f9d7);
}
footer .otherLinks .contactBtn a:after,
footer .otherLinks .lineBtn a:after{
	content: '';
	width: 10%;
	height: 1em;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15%;
}
footer .otherLinks .contactBtn a:after{
	background: url(../img/bg_arrow_01.webp) no-repeat center / 100% auto;
}
footer .otherLinks .lineBtn a:after{
	background: url(../img/bg_arrow_02.webp) no-repeat center / 100% auto;
}
footer .otherLinks .helpLinks{
	margin-bottom: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 75%;
}
footer .otherLinks .helpLinks li{
	padding: 0 3%;
	border-right: .25vw solid #fff;
}
footer .otherLinks .helpLinks li:first-of-type{
	padding-left: 0;
}
footer .otherLinks .helpLinks li:last-of-type{
	padding-right: 0;
	border-right: none;
}
footer .footerText{
	border-top: .25vw solid #fff;
	padding: 3% 0;
	font-size: 85%;
	text-align: center;
}
/* ====================
	conversionFix
==================== */
#conversionFix{
	width: 100vw;
	padding: 3%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: -25vh;
	left: 0;
	z-index: 99;
	background: linear-gradient(90deg, #fbc2eb, #a6c1ee);
	transition: bottom .7s;
}
#conversionFix .choiceBtn,
#conversionFix .lineBtn{
	width: 48.5%;
}
#conversionFix .choiceBtn .imgBox,
#conversionFix .lineBtn .imgBox{
	width: 55%;
	margin: 0 auto 1.5%;
}
#conversionFix .choiceBtn a,
#conversionFix .lineBtn a{
	padding: 7% 0;
	border: .75vw solid #f0e841;
	border-radius: 100vh;
	font-size: 170%;
	font-weight: 700;
	color: #333;
	text-align: center;
}
#conversionFix .choiceBtn a{
	background-color: #f0e841;
}
#conversionFix .lineBtn a{
	background-color: #fff;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
	781px over
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
@media screen and (min-width:781px){
	img{
		width: 100%;
		max-width: initial;
	}
	/* ====================
		conversionFix
	==================== */
	#conversionFix{
		padding: 1.5%;
		justify-content: center;
	}
	#conversionFix .choiceBtn,
	#conversionFix .lineBtn{
		width: 30%;
	}
	#conversionFix .choiceBtn{
		margin-right: 3%;
	}
	#conversionFix .choiceBtn a,
	#conversionFix .lineBtn a{
		font-size: 125%;
	}
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
	1000px over
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=  */
@media screen and (min-width:1000px){
	body{
		font-size: 16px;
	}
	a{
		transition: opacity .5s;
	}
	a:hover{
		opacity: .7;
	}
	img{
		width: initial;
		max-width: 100%;
	}
	/* ====================
		common
	==================== */
	.spView{
		display: none;
	}
	.pcView{
		display: block;
	}
	.bigSection{
		padding: 50px 0;
	}
	.bigSection .secondSection{
		margin-bottom: 75px;
	}
	.contentsWrap{
		width: 1000px;
		padding: 0 25px;
	}
	.mainHeading{
		max-width: 1000px;
		margin: 0 auto 50px;
	}
	.moreViewBtn{
		width: 275px;
	}
	.moreViewBtn a{
		padding: 15px;
	}
	.itemFlexBox{
		width: 840px;
		margin: 0 auto 30px;
	}
	.itemFlexBox .exampleImg,
	.itemFlexBox .rightBox{
		width: 352px;
	}
	.itemFlexBox .rightBox .moreViewBtn a{
		padding: 15px 0;
		font-size: 200%;
	}
	.wave1{
		height: 40px;
		background: url(../img/bg_wave_01.webp) repeat-x top center;
	}
	.wave2{
		height: 130px;
		background: url(../img/bg_wave_02.webp) repeat-x top center;
	}
	/* ====================
		header
	==================== */
	header .contentsWrap{
		padding: 25px;
	}
	header .logoImg{
		width: 120px;
	}
	header .contactBtn{
		width: 145px;
	}
	/* ====================
		topView
	==================== */
	#topView .topImg{
		height: 900px;
		position: relative;
		overflow: hidden;
	}
	#topView .topImg img{
		width: auto;
		max-width: initial;
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	/* ====================
		threePoints
	==================== */
	#threePoints .pointHeading{
		margin-bottom: 30px;
	}
	#threePoints .pointHeading .imgBox{
		width: 100px;
		margin: 0 auto 30px;
	}
	#threePoints .pointDescription{
		margin-bottom: 50px;
	}
	#threePoints .sixServiceWrap{
		margin-bottom: 75px;
	}
	#threePoints .sixServiceWrap .sixServiceWrapHeading{
		width: 290px;
		margin: 0 auto 50px;
	}
	#threePoints .sixServiceWrap .sixServiceList{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#threePoints .sixServiceWrap .sixServiceList{
		margin-bottom: 30px;
	}
	#threePoints .sixServiceWrap .sixServiceList li{
		width: 462px;
		margin-bottom: 30px;
	}
	#threePoints .sixServiceWrap .sixServiceList li:nth-last-of-type(-n+2){
		margin-bottom: 0;
	}
	#threePoints .point2List{
		display: flex;
		justify-content: space-between;
	}
	#threePoints .point2List li{
		width: 462px;
	}
	#threePoints .point2List li:first-of-type{
		margin-bottom: 0;
	}
	#threePoints .point3Img{
		width: 395px;
	}
	/* ====================
		threePromises
	==================== */
	#threePromises .promiseSection{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	#threePromises .promiseHeading{
		width: 100%;
		margin-bottom: 50px;
	}
	#threePromises .promiseHeading .imgBox{
		width: 72px;
	}
	#threePromises .promiseImg{
		width: 462px;
		margin-bottom: 0;
	}
	#threePromises .pointDescription{
		width: 462px;
	}
	#threePromises .promiseSection:nth-of-type(2n) .promiseImg{
		order: 3;
	}
	#threePromises .promiseSection:nth-of-type(2n) .pointDescription{
		order: 2;
	}
	/* ====================
		printMethod
	==================== */
	#printMethod{
		overflow-x: hidden;
	}
	#printMethod .printMethodHeading{
		width: 538px;
		margin: 0 auto 75px;
	}
	#printMethod .contentsWrap{
		position: relative;
	}
	#printMethod .printHeading{
		margin-bottom: 30px;
		padding-bottom: 80px;
		background: url(../img/bg_printMethodSecondHeading.webp) no-repeat center bottom / 547px auto;
		font-size: 200%;
	}
	#printMethod .printHeading.long{
		padding-bottom: 55px;
	}
	#printMethod .printMethodAccent li{
		position: absolute;
	}
	#printMethod .printMethodAccent li:first-of-type{
		top: 200px;
		left: -380px;
	}
	#printMethod .printMethodAccent li:nth-of-type(2){
		top: 500px;
		right: -350px;
	}
	#printMethod .printMethodAccent li:nth-of-type(3){
		top: 800px;
		left: -425px;
	}
	#printMethod .printMethodAccent li:nth-of-type(4){
		top: 1200px;
		right: -320px;
	}
	#printMethod .printMethodAccent li:nth-of-type(5){
		top: 1500px;
		left: -360px;
	}
	#printMethod .printMethodAccent li:nth-of-type(6){
		top: 1900px;
		right: -360px;
	}
	/* ====================
		byScene
	==================== */
	#byScene{
		padding: 50px 0 100px;
	}
	#byScene .bySceneHeading{
		width: 730px;
		margin: 0 auto 50px;
	}
	#byScene .sceneHeading{
		width: 450px;
		margin: 0 auto 50px;
		padding: 40px 0;
		background: url(../img/bg_bySceneSecondHeading.webp) no-repeat center / 100% auto;
		font-size: 200%;
		-webkit-text-stroke: 1.5px #fff;
	}
	#byScene .itemFlexBox{
		align-items: center;
	}
	#byScene .itemFlexBox .rightBox .itemName{
		margin-bottom: 5%;
		font-size: 200%;
	}
	#byScene .itemFlexBox .rightBox .moreViewBtn{
		line-height: 1.25;
	}
	#byScene .sceneDescription{
		margin-bottom: 30px;
		line-height: 1.5;
	}
	#byScene .planHeading{
		margin-bottom: 30px;
	}
	#byScene .planHeading .imgBox{
		width: 175px;
	}
	#byScene .planHeadingUnder{
		margin-bottom: 30px;
	}
	#byScene .planList li{
		margin-bottom: 30px;
		justify-content: center;
	}
	#byScene .planList .planListHeading{
		width: 30%;
	}
	#byScene .planList .planListImg{
		width: 500px;
	}
	#byScene .concierge{
		width: 1000px;
		margin: 75px auto 0;
	}
	/* ====================
		designTemplates
	==================== */
	#designTemplates{
		padding: 0 0 100px;
	}
	#designTemplates .designTemplatesHeading{
		width: 714px;
		margin: -130px auto 75px;
		position: relative;
		z-index: 3;
	}
	#designTemplates .designTemplatesImg{
		margin-bottom: 50px;
	}
	#designTemplates .moreViewBtn{
		margin-bottom: 50px;
	}
	#designTemplates .designTemplatesAccent{
		width: 575px;
		margin: 0 auto 50px;
	}
	#designTemplates .examplesHeading{
		width: 276px;
		margin: 0 auto 30px;
	}
	#designTemplates .examplesImg{
		width: 1000px;
		margin: 0 auto;
	}
	/* ====================
		footer
	==================== */
	footer{
		padding-top: 75px;
	}
	footer .lineImg{
		width: 1000px;
		margin: 0 auto 50px;
	}
	footer .footerNav{
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
	}
	footer .shopInfo,
	footer .navDl,
	footer .otherLinks{
		width: 30%;
	}
	footer .shopInfo .footerLogo{
		width: 195px;
		margin: 0 0 15px;
	}
	footer .shopInfo .shopInfoList{
		margin-bottom: 0;
	}
	footer .shopInfo .shopInfoList li{
		margin-bottom: 15px;
	}
	footer .shopInfo .shopInfoList li a,
	footer .shopInfo .shopInfoList li.noLink{
		justify-content: flex-start;
	}
	footer .shopInfo .shopInfoList .text{
		font-size: 112%;
	}
	footer .navDl{
		margin-bottom: 0;
		font-size: 100%;
	}
	footer .navDl dt{
		padding: 10px 0 10px 1em;
		border-bottom: 2px solid #d4fc79;
	}
	footer .navDl dt:first-of-type{
		border-top: 2px solid #d4fc79;
	}
	footer .navDl dd{
		border-bottom: 2px solid #d4fc79;
	}
	footer .navDl .navDlList{
		margin: 10px auto;
	}
	footer .navDl .navDlList li{
		margin-bottom: 10px;
	}
	footer .otherLinks .contactBtn,
	footer .otherLinks .lineBtn{
		margin: 0 auto 30px;
	}
	footer .otherLinks .contactBtn a,
	footer .otherLinks .lineBtn a{
		padding: 15px 0;
		font-size: 125%;
	}
	footer .otherLinks .helpLinks{
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		font-size: 87.5%;
		font-weight: 700;
	}
	footer .otherLinks .helpLinks li{
		margin-bottom: 15px;
		padding: 0;
		border-right: none;
	}
	footer .otherLinks .helpLinks li:last-of-type{
		margin-bottom: 0;
	}
	footer .footerText{
		border-top: 1px solid #fff;
		padding: 15px 0;
		font-size: 75%;
	}
	/* ====================
		conversionFix
	==================== */
	#conversionFix{
		padding: 15px 0;
	}
	#conversionFix .choiceBtn,
	#conversionFix .lineBtn{
		max-width: 250px;
	}
	#conversionFix .choiceBtn .imgBox,
	#conversionFix .lineBtn .imgBox{
		max-width: 125px;
		margin: 0 auto 5px;
	}
	#conversionFix .choiceBtn a,
	#conversionFix .lineBtn a{
		padding: 15px 0;
		border: 3px solid #f0e841;
		font-size: 150%;
	}
	#conversionFix .choiceBtn{
		margin-right: 30px;
	}
}