@charset 'utf-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
:root{
    font-size: 10px;
	--colorBlack: #000000;
	--colorDarkGray: #3B3C3D;
	--colorGray: #ECECEC;
	--colorWhite: #FFFFFF;
	--colorNavy: #1A0DAB;
	--colorBlue: #1B48AA;
	--colorLightBlue: #E5F2FF;
}
#tinymce{
	padding: 2rem;
}
#tinymce *{
    margin: initial;
    padding: initial;
    box-sizing: border-box;
    border: none;
    list-style: none;
    line-height: 1.25;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
    text-decoration: none;
}
#tinymce img{
	width: 100%;
	height: auto;
	display: block;
}
#tinymce p{
    margin-bottom: 2rem;
    line-height: 2;
    font-size: 1.6rem;
}
#tinymce > p > a:not(.moreViewText){
	color: var(--colorNavy);
	text-decoration: underline;
}
#tinymce a[target="_blank"]:after{
	content: '\f08e';
	margin-left: .5em;
	margin-right: .25em;
	font: var(--fa-font-solid);
	color: var(--colorNavy);
}
#tinymce .middleHeading{
	margin-bottom: 3rem;
	padding: 1rem;
	border-bottom: .1rem solid var(--colorDarkGray);
	border-left: 1rem solid var(--colorDarkGray);
	font-size: 2rem;
	font-weight: bold;
}
#tinymce .smallHeading{
	margin-bottom: 3rem;
	padding: 1rem 2rem;
	background-color: var(--colorLightBlue);
	font-size: 2rem;
	font-weight: bold;
}
#tinymce .smallestHeading{
	margin-bottom: 3rem;
	padding-bottom: 1.5rem;
	border-bottom: .2rem solid var(--colorBlue);
	font-size: 1.8rem;
}
#tinymce .noticeText{
	padding-left: 1em;
	text-indent: -1em;
}
#tinymce .boldText{
	font-weight: bold;
}
#tinymce .contentsList{
	margin: 3rem auto;
}
#tinymce .contentsList li{
	margin-bottom: 1.5rem;
	padding-left: 1em;
	line-height: 1.5;
	text-indent: -1em;
}
#tinymce .contentsList li:last-of-type{
	margin-bottom: 0;
}
#tinymce .contentsList.olList li{
	padding-left: 1.5em;
	text-indent: -1.5em;
}
#tinymce .contentsTableWrap{
	margin: 3rem auto;
	overflow-x: auto;
}
#tinymce .contentsTableWrap{
	margin: 3rem auto;
	overflow-x: hidden;
}
#tinymce .contentsTableWrap .contentsTableBox{
	overflow-x: auto;
}
#tinymce .contentsTableWrap .contentsTable{
	width: 100%;
	table-layout: fixed;
	border: .1rem solid var(--colorGray);
}
#tinymce .contentsTableWrap.ovarThree .contentsTable{
	min-width: 60rem;
}
#tinymce .contentsTableWrap .contentsTable tr{
	border-bottom: .1rem solid var(--colorGray);
}
#tinymce .contentsTableWrap .contentsTable tr:last-of-type{
	border-bottom: none;
}
#tinymce .contentsTableWrap .contentsTable tr th,
#tinymce .contentsTableWrap .contentsTable tr td{
	padding: 1.5rem 1rem;
	border-right: .1rem solid var(--colorGray);
	line-height: 1.5;
	font-size: 1.4rem;
	text-align: center;
	vertical-align: middle;
}
#tinymce .contentsTableWrap .contentsTable tr th:last-of-type,
#tinymce .contentsTableWrap .contentsTable tr td:last-of-type{
	border-right: none;
}
#tinymce .contentsTableWrap .contentsTable tr th{
	background-color: var(--colorLightBlue);
	font-weight: bold;
}
#tinymce .contentsTableWrap .contentsTable tr th + td{
	border-left: .1rem solid var(--colorGray);
}
#tinymce .contentsTableWrap .contentsTable tr td p{
	margin-bottom: 1.5rem;
	line-height: 1.5;
	font-size: 1.4rem;
	text-align: initial;
}
#tinymce .contentsTableWrap .contentsTable tr td p:last-of-type{
	margin-bottom: 0;
}
#tinymce .referenceBox{
	margin: 3rem auto;
	padding: 3rem 2rem;
	position: relative;
	background-color: var(--colorLightBlue);
}
#tinymce .referenceBox:before,
#tinymce .referenceBox:after{
	position: absolute;
	font: var(--fa-font-solid);
	font-size: 2rem;
	color: var(--colorBlue);
}
#tinymce .referenceBox:before{
	content: '\f10d';
	top: 1rem;
	left: 1rem;
}
#tinymce .referenceBox:after{
	content: '\f10e';
	bottom: 1rem;
	right: 1rem;
}
#tinymce .referenceBox p:last-of-type{
	margin-bottom: 0;
}
#tinymce .referenceBox .cite{
	margin: 2rem auto 1rem;
	font-style: italic;
	text-align: right;
}
#tinymce .referenceBox cite{
	font-size: 1.2rem;
}
#tinymce .referenceBox .cite a{
	display: inline;
	font-size: 1.2rem;
	color: var(--colorNavy);
}
#tinymce .moreViewText{
	width: fit-content;
	margin-left: auto;
	display: block;
	font-weight: bold;
	color: var(--colorDarkGray);
}
#tinymce .moreViewText:after{
	content: '\f054';
	margin-left: .5rem;
	font: var(--fa-font-solid);
}
#tinymce .referenceLinkBox{
	margin: 3rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#tinymce .referenceLinkBox .title{
	width: 10rem;
	padding: 1rem;
	border: .2rem solid var(--colorBlue);
	border-radius: 100vh;
	font-size: 1.4rem;
	color: var(--colorBlue);
	text-align: center;
}
#tinymce .referenceLinkBox .text{
	width: calc(100% - 12rem);
}
#tinymce .referenceLinkBox .text a{
	display: inline;
	font-size: 1.4rem;
	color: var(--colorNavy);
	text-decoration: underline;
}
#tinymce .relatedBox{
	margin: 3rem auto;
}
#tinymce .relatedBox .title{
	padding: 1rem;
	display: inline-block;
	background-color: var(--colorBlue);
	font-weight: bold;
	color: var(--colorWhite);
	text-align: center;
}
#tinymce .relatedBox .article{
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--colorLightBlue);
}
#tinymce .relatedBox .article .img{
	width: 15rem;
	max-width: 10rem;
}
#tinymce .relatedBox .article .text{
	width: calc(100% - 17rem);
}
#tinymce .relatedBox .article .text a{
	display: inline;
	color: var(--colorNavy);
	text-decoration: underline;
}

