@charset 'utf-8';
:root{
	--ten: 2.564vw;
	--pad: calc(1.5 * var(--ten));
	--trs: .7s;
	--red: #e7380d;
	--black: #1a1a1a;
	--darkGray: #d6d6d6;
	--lightGray: #f5f5f5;
	--white: #ffffff;
}
.repairWrap *{
	width: initial;
	height: initial;
	margin: initial;
	padding: initial;
	box-sizing: border-box;
	border: none;
	list-style: none;
	line-height: 1;
	font-size: calc(1.6 * var(--ten));
	font-weight: initial;
	font-style: initial;
	color: var(--black);
	text-align: initial;
	text-decoration: none;
}
.repairWrap .itemList{
	margin-bottom: calc(2 * var(--pad));
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--pad);
	column-gap: var(--pad);
}
.repairWrap .itemList:has(> li:nth-of-type(1):last-of-type){
	justify-content: center;
}
.repairWrap .itemList > li{
	width: calc((100% - var(--pad)) / 2);
}
.repairWrap .itemList > li .imgBox{
	margin-bottom: var(--pad);
	position: relative;
	overflow: hidden;
}
.repairWrap .itemList > li .imgBox img{
	width: 100%;
	height: calc(11.5 * var(--ten));
	object-fit: cover;
}
.repairWrap .itemList > li .imgBox .newIcon{
	padding: calc(.5 * var(--ten));
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--red);
	font-size: var(--ten);
	color: var(--white);
}
.repairWrap .itemList > li .title{
	margin-bottom: calc(.5 * var(--ten));
	line-height: 1.25;
	font-size: calc(1.2 * var(--ten));
	font-weight: bold;
}
.repairWrap .itemList > li .title *{
	font-size: inherit;
}
.repairWrap .itemList > li .price{
	display: flex;
	align-items: flex-end;
	font-size: calc(1.2 * var(--ten));
}
.repairWrap .itemList > li .price .crcode{
	font-size: var(--ten);
}
.repairWrap .itemList > li .price .crcode .tax{
	margin-left: -.5em;
	font-size: inherit;
}
@media (min-width: 781px){
	:root{
		--ten: 10px;
	}
	.repairWrap .itemList > li{
		width: calc((100% - (3 * var(--pad))) / 4);
	}
	.repairWrap .itemList > li .imgBox img{
		height: 13vw;
		max-height: calc(13 * var(--ten));
	}
}
@media (min-width: 1023px){
	.repairWrap .spView{
		display: none !important;
	}
	.repairWrap .pcView{
		display: block;
	}
	.repairWrap .itemList > li > a{
		transition: opacity var(--trs);
	}
	.repairWrap .itemList > li > a:hover{
		opacity: .7;
	}
	.repairWrap .itemList > li .imgBox img{
		transition: transform var(--trs);
	}
	.repairWrap .itemList > li a:hover .imgBox img{
		transform: scale(1.2);
	}
	.repairWrap .itemList > li .title{
		font-size: calc(1.4 * var(--ten));
	}
	.repairWrap .itemList > li .price{
		font-size: calc(1.4 * var(--ten));
	}
	.repairWrap .itemList > li .price .crcode{
		font-size: calc(1.2 * var(--ten));
	}
}