@charset 'utf-8';
.industrySliderList{
	margin-top: 4rem;
}
.industrySliderList li{
	width: 16.4rem;
	margin: 0 .5rem;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.industrySliderList .textBox{
	margin-top: 1rem;
	padding: 1rem;
	background-color: var(--colorLightBlue);
	font-size: 1.4rem;
	text-align: center;
}
.achievementList > li{
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: var(--colorWhite);
	box-shadow: 0 0 .8rem 0 rgba(0, 0, 0, .25);
}
.achievementList > li:last-of-type{
	margin-bottom: 0;
}
.achievementList .achievementTitle{
	margin-bottom: 2rem;
}
.achievementList .achievementPoint{
	margin-bottom: 2rem;
	line-height: 1.25;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.achievementList .achievementSection{
	margin-bottom: 2rem;
	padding: 0 !important;
}
.achievementList .achievementSection:last-of-type{
	margin-bottom: 0;
}
.achievementList .achievementSection .achievementHeading{
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: var(--colorLightBlue);
	line-height: 1.25;
	font-size: 1.8rem;
	text-align: center;
}
.achievementList .achievementSection .achievementText.large{
	font-size: 2rem;
	text-align: center;
}
.achievementList .achievementSection .measureList li{
	margin-bottom: 1rem;
	display: flex;
	line-height: 1.25;
}
.achievementList .achievementSection .measureList li:last-of-type{
	margin-bottom: 0;
}
.achievementList .achievementSection .measureList li:before{
	content: '\f111';
	margin-right: .5rem;
	line-height: inherit !important;
	font: var(--fa-font-solid);
	color: var(--colorBlue);
}
.internalizationList{
	margin: 6rem auto 0;
}
.internalizationList li{
	margin-bottom: 2rem;
	padding: 1rem;
	border: .2rem solid var(--colorBlue);
	border-radius: 2rem;
	background: var(--colorWhite) url(../img/company/achievement/bg_arrow.svg) no-repeat center / 11.9rem 6.6rem;
	line-height: 1.5;
	text-align: center;
}
.internalizationList li.spMore{
	display: none;
}
.internalizationList li.spMore:last-of-type{
	margin-bottom: 0;
}
.internalizationList .internalizationListTitle{
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-weight: bold;
}
.internalizationList .word{
	margin-bottom: 1.5rem;
	padding: 1rem 0;
	border: .2rem solid var(--colorBlue);
	font-weight: bold;
}
.internalizationList .rankBox{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	line-height: 1;
	font-size: 2rem;
}
.internalizationList .rankBox i{
	margin: 0 1rem;
}
.internalizationList .rankBox .after{
	font-weight: bold;
}
.internalizationList .rankBox .after .bigText{
	font-size: 4rem;
}
.reduceDisplay{
	display: none;
	width: fit-content;
    margin-left: auto;
	font-weight: bold;
	color: var(--colorDarkGray);
}
.reduceDisplay:after{
	content: '\f077';
	margin-left: .5rem;
	line-height: inherit !important;
	font: var(--fa-font-solid);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
			PC
 =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media screen and (min-width: 1150px) {
	.industrySliderList li{
		width: 20rem;
		margin: 0 1rem;
	}
	.industrySliderList .textBox{
		font-size: 1.6rem;
	}
	.achievementList{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.achievementList > li{
		width: calc((100% - 2rem) / 2);
		margin-bottom: 3rem;
	}
	.achievementList > li:nth-last-of-type(-n + 2){
		margin-bottom: 0;
	}
	.internalizationList{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.internalizationList li{
		width: calc((100% - 6rem) / 4);
	}
	.internalizationList li.spMore{
		display: block !important;
	}
	.internalizationList li.spMore:last-of-type{
		margin-bottom: 2rem;
	}
	.internalizationList li.pcMore{
		display: none;
	}
	.pcMoreControl{
		width: 5rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
	}
	.pcMoreControl li{
		width: 100%;
		padding: 1rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: .2rem solid var(--colorBlue);
		border-radius: .4rem;
		background-color: var(--colorWhite);
		font-size: 2rem;
		font-weight: bold;
		color: var(--colorBlue);
		writing-mode: vertical-rl;
	}
	.pcMoreControl .blind{
		margin-bottom: 3rem;
	}
	.pcMoreControl .blind:before,
	.pcMoreControl .view:after{
		display: block;
		line-height: inherit !important;
		font: var(--fa-font-solid);
	}
	.pcMoreControl .blind:before{
		content: '\f139';
		margin-bottom: 1rem;
	}
	.pcMoreControl .view:after{
		content: '\f13a';
		margin-top: 1rem;
	}
}
@media screen and (min-width: 1441px){
	.pcMoreControl{
		left: 0;
		transform: translateX(69.5rem);
	}
}