@charset 'utf-8';
.faqDl{
	margin-bottom: 4rem;
}
.faqDl:last-of-type{
	margin-bottom: 0;
}
.faqDl dt{
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--colorGray);
	line-height: 1.5;
	font-weight: bold;
}
.faqDl dt:before,
.faqDl dt:after{
	line-height: inherit !important;
	font: var(--fa-font-solid);
	font-size: 2.2rem;
}
.faqDl dt:before{
	content: '\51';
	margin-right: 2rem;
}
.faqDl dt:after{
	content: '\2b';
	margin-left: 2rem;
}
.faqDl dt.active:after{
	content: '\f068';
}
.faqDl dd{
	margin-top: 2rem;
	padding: 0 2rem;
	display: flex;
	line-height: 1.5;
}
.faqDl dd:before{
	content: '\41';
	margin-right: 2rem;
	line-height: inherit !important;
	font: var(--fa-font-solid);
	font-size: 2.2rem;
	color: var(--colorOrange);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
			PC
 =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media screen and (min-width: 1150px) {
	.faqDl dt{
		padding: 1.5rem 4rem;
		justify-content: left;
		font-size: 2rem;
	}
	.faqDl dt:after{
		margin-left: auto;
	}
	.faqDl dd{
		padding: 0 4rem;
		font-size: 1.6rem;
	}
}