@charset 'utf-8';
.seonewsPost{
	margin: 2rem auto;
}
.seonewsPost .day{
	margin-bottom: 2rem;
	font-size: 1.4rem;
	text-align: right;
}
.seonewsPost .seonewsContent{
	margin-bottom: 2rem;
}
.seonewsPost .moreViewText:after{
	display: inline-block;
	transition: var(--transition);
}
.seonewsPost:not(.active) .moreViewText:after{
	transform: rotate(90deg);
}
.seonewsPost.active .moreViewText:after{
	transform: rotate(-90deg);
}
