@charset 'utf-8';
.serviceList li{
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: var(--colorWhite);
}
.serviceList li:last-of-type{
	margin-bottom: 0;
}
.serviceList li .serviceListImg{
	width: 18rem;
	margin: 0 auto 2rem;
}
.serviceList li .textBox{
	margin-bottom: 2rem;	
}
.serviceList li .textBox .serviceListHeading{
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.serviceList li .textBox .text{
	line-height: 1.5;
}
.serviceList li .textBox .noticeText{
	margin-top: 1.5rem;
	line-height: 1.25;
	font-size: 1.4rem;
}
.serviceList li .price{
	padding: 1rem 0;
	background-color: var(--colorGray);
	font-weight: bold;
	text-align: center;
}
.serviceList li .price .bigText{
	font-size: 2rem;
}
/* --- faqDl --- */
.faqDl{
	margin-bottom: 4rem;
}
.faqDl:last-of-type{
	margin-bottom: 0;
}
.faqDl dt{
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--colorGray);
	line-height: 1.5;
	font-weight: bold;
}
.faqDl dt:before,
.faqDl dt:after{
	line-height: inherit !important;
	font: var(--fa-font-solid);
	font-size: 2.2rem;
}
.faqDl dt:before{
	content: '\51';
	margin-right: 2rem;
}
.faqDl dt:after{
	content: '\2b';
	margin-left: 2rem;
}
.faqDl dt.active:after{
	content: '\f068';
}
.faqDl dd{
	margin-top: 2rem;
	padding: 0 2rem;
	display: flex;
	line-height: 1.5;
}
.faqDl dd:before{
	content: '\41';
	margin-right: 2rem;
	line-height: inherit !important;
	font: var(--fa-font-solid);
	font-size: 2.2rem;
	color: var(--colorOrange);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
			PC
 =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media screen and (min-width: 1150px) {
	.serviceList{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.serviceList li{
		width: calc((100% - 2rem) / 2);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.serviceList li:nth-last-of-type(-n + 2){
		margin-bottom: 0;
	}
	.serviceList li .serviceListImg{
		width: 18rem;
		margin: 0;
	}
	.serviceList li .textBox{
		width: calc(100% - 20rem);
		margin-bottom: 0;
	}
	.serviceList li .textBox .serviceListHeading{
		text-align: left;
	}
	.serviceList li .price{
		width: 100%;
		margin-top: 2rem;
	}	
	/* --- faqDl --- */
	.faqDl dt{
		padding: 1.5rem 4rem;
		justify-content: left;
		font-size: 2rem;
	}
	.faqDl dt:after{
		margin-left: auto;
	}
	.faqDl dd{
		padding: 0 4rem;
		font-size: 1.6rem;
	}
}